{% extends 'base.html' %}

{% block base %}

    <h1>CREATE</h1>
    
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">제목 : </label>
            <input type="text" name="title"><br>
        </div>
        <div>
            <label for="content">내용 : </label>
            {% comment %} <input type="text" name="content"> {% endcomment %}
            <textarea name="content"></textarea><br>
        </div>
        <input type="submit">
    </form>
    <hr>
    <a href="{% url 'articles:index' %}">[back]</a>

{% endblock base %}

