<!DOCTYPE html>
<html lang="en">

<head>
    <link href = "../static/css/style.css" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim BernersLee</title>
    
    <script type = "text/javascript">
        function ChangeImg(){
            document.getElementById("imgTim").src = "../static/image/Tim_BernersLee.jpg";
            
        }



        var src1 = "../static/image/Tim_BernersLee.jpg";
        function Change2Img(){
            
            if (src1 = "../static/image/Tim"){
                
                src1 = "../static/image/Tim_BernersLee.jpg"
                
            }
            else if (src1 = "../static/image/Tim_BernersLee.jpg"){
                
                src1 = "../static/image/Tim.jpg"
                
            }
            document.getElementById("imgTim").src = src1
            
        }
        
    </script>

</head>

<body>
    <ol id = "ol_style">
        <li>AAA</li>
        <li>BBB</li>
        <li><span>CCC</span></li>
    </ol>
    <ul id = "ul_style">
        <li>aaa</li>
        <li>bbb</li>
        <li><span>ccc</span></li>
    </ul>
    <h1 onclick="ChangeImg()">팀 버너스리</h1>
    
    <p><img id = "imgTim" src="../static/image/Tim.jpg" height="180" width="240" alt="Image Error" ></p>

    <br>팀 버너스리 경(영어: Sir Tim Berners-Lee, OM, KBE, FRS, 1955년 6월 8일 ~ )은 영국의 컴퓨터 과학자이다.<br>

    <br>1989년 월드 와이드 웹의 하이퍼텍스트 시스템을 고안하여 개발했다. 인터넷의 기반을 닦은 여러 공로로 웹의 아버지라고 불리는 인물 중 하나이다.<br>

    <br>URL, HTTP, HTML 최초 설계와 구현도 CERN 시절에 동료였던 로베르 카이오(Robert Cailliau) 등과 함께 그가 주도한 것이다. 차세대 웹 기술인 시맨틱 웹 기술의 표준화에 힘쏟고 있다.<br>

    <p>
        <img src="../static/image/apple.jpg" height = "300" width = "400" alt="사과" onclick="this.src='../static/image/banana.jpg'">
        <img src="../static/image/apple.jpg" height = "300" width = "400" alt="사과" 
            onmouseover = "this.src='../static/image/banana.jpg'"
            onmouseout = "this.src='../static/image/apple.jpg'">
    </p>
</body>
</html>